.git
.github
.idea
.dart_tool
build
android
ios
linux
macos
web
windows
test
backend/.pytest_cache
backend/tests
backend/dey_alert_api.egg-info
**/__pycache__
**/*.py[cod]
**/.DS_Store
.env
.env.*
!.env.example
